div iframe{
    width: 100%;
    height: 80vh;
    /* clip-path: polygon(73.5% 4.2%, 73.5% 99.4%, 25.4% 99.4%, 25.4% 4.2%); */
    clip-path: polygon(89.9% 4.2%, 89.9% 99.4%, 7.9% 99.4%, 7.9% 4.2%);
    z-index:0;
}