html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background-color: #1e1f21; */
  }

.main{
  display:flex;
  /* flex-direction: row; */
  margin: 55px 100px;
}

.main div {
  padding:10px;
}

.google-box{
  width:60%;
  margin: 0 auto;
}

.youtube-box {
  width:20%;
}


@media (max-width:1300px){
  .main {
    flex-direction: column;
  }

  .google-box{
    order:1;
    width:100%;
  }
  .youtube-box{
    order:2;
    width:100%;
  }
}

@media (max-width:960px){
  .main{
    margin: 55px 50px;
  }
}

@media (max-width:800px){
  .main{
    margin: 55px 20px;
  }
}

@media (max-width:700px){
  .main{
    margin: 55px 10px;
  }
}

@media (max-width:800px){
  .main{
    margin: 55px 5px;
  }
}