*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style:none;
    box-sizing:border-box;
}

nav{
    height:80px;
    width:100%;
}

label.logo{
    color:white;
    font-size: 35px;
    line-height:65px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float:right;
    margin-right:20px;
}

nav ul li{
    display:inline-block;
    line-height:65px;
    margin: 0 5px;
}

nav ul li a{
    color:white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    text-decoration: underline;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color:white;
    float:right;
    line-height:80px;
    margin-right:40px;
    cursor:pointer;
    display:none;
}

#check{
    display:none;
}

ul.socials {
    z-index:5;
    padding-right:100px;
}

ul.socials li {
    color:white;
}

ul.socials li a i:hover {
    color:black;
    transition: .4s;
}

.discord{
    display:flex;
    flex-direction: row;
    width:fit-content;
    margin:auto;
    text-align: center;
    padding: 10px;
    background: rgba(66, 66, 66, 0.5);
    border-radius: 5%;

}

.discord text {
    flex-direction: column;
    /* font-size:2em; */
}

.discord div p{
    padding-top:3px;
    font-size: 1.5em;
}

.discord div i {
    color: #7289d9;
    font-size:4em;
    
}

@media (max-width: 1110px){
    label.logo{
        font-size:30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }

    ul.socials {
        padding-right:50px;
    }

    .discord div p {
        text-align: center !important;
    }
}


@media (max-width: 960px){
    label.logo{
        padding-left: 25px;
    }
    ul.socials{
        padding-right:25px;
    }
}

@media (max-width:910px){
    .checkbtn{
        display:block;
    }

    ul{
        position:fixed;
        width:100%;
        height:100vh;
        background:#2c3e50;
        top:80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    ul.socials{
        margin-top: 175px;
        display: grid;
        grid-template-rows: 15px 15px;
        grid-template-columns: 10px 10px 10px;
        grid-gap: 30px;
        justify-content: center;
        right:151px;
    }

    ul.socials li a {
        padding:0 5px;
    }

    nav ul li {
        display:block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size:20px;
    }

    i{
        display:block;
        color:white;
    }

    #check:checked ~ ul {
        left: 0;
    }

    .discord {
        position: relative;
        left:25px;
    }

    .discord div p {
        text-align: center !important;
    }
      
}